[Desktop Entry]
Type=Application
Name=Photo Viewer
GenericName=Image Viewer
Comment=Browse and view photos
Exec=photo-viewer
Icon=io.github.luyao_1024.photoviewer
Terminal=false
Categories=Graphics;Photography;Viewer;
StartupNotify=true
StartupWMClass=Photo Viewer